*{
    margin: 0px;
    padding: 0px;
  }
  .header{
    min-height: 100vh;
    width: 100%;
    background: #313131;
    background-position: center;
    background-size: cover;
    position: relative;
  }
  
  .nav, .logo{
    width: 150px;
    
  }
  
  .nav-links{
    display: inline-block;
    padding: 8px 12px;
    margin-left: 30vw;
    
  }
  #link{
    width: 40vw;
    margin-left: 160px;
    text-decoration: none;
    color: #fff;
    text-align: right;
    font-size: 20px;
  }


 .Title h3{
    color: white;
    font-size: 50px;
    text-align: left;
    margin-top: 70px;
    margin-bottom: 40px;
    margin-left: 20px;
  }

  hr.one{
    margin-top: 40px;
    border: none;
    height: 1px;
    background: #fff;
    margin-left: 1px;
  }

  hr.two{
    margin-top: 10px;
    border: none;
    height: 1px;
    background: #fff;
    margin-left: 1px;
  }

  .Name{
    color: white;
    margin: 10px;
    font-weight: bold;
    font-size: 30px;
  }

.date{
  color: white;
  margin: 10px;
}

.day{
  color: white;
  margin: 10px;
  font-size: 20px;
}

.players {
  color: white;
  margin: 10px;
}

 .price{
  color: white;
  margin: 10px;
  font-size: 20px;
 }

 .dollar{
  color: white;
  margin: 10px;
 }

 .person{
  color: white;
  margin: 10px;
 }


 .cell{
   margin-left: 10px;

 }

 .Book-button {
    background-color: #23a7e4;
    color: white;
    padding: 14px ;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 15%;
    margin-left: 10px;
    border-radius: 6px;
  
 }



/* sidebar */

.sidebar {
    height: 100%;
    width: 300px;
    position: fixed;
    right: 0;
    top: 0;
    padding-top: 20px;
    background-color: rgb(92, 178, 194);
    overflow: hidden;
    transition: 1s ease right ,hide;
    }

 .cart {
     margin-top: -10px;
     margin-left: 40%;
     font-size: 20px;
     display: block;
     color: #fff;
}

.cart-close{
    padding: 0px 7px;
    margin-left: 90%;
    margin-top:  -10%;
}

.c-line{
    width: 100%;
    margin-left: 1px;
    margin-top: 5%;
    margin-bottom: 5%;
}

.qty{
    color: #fff;
    margin-top: 10px;
    margin-left: 10px;

}

.item{
  color: #fff;
  margin-top: 10px;
  margin-left: 10px;
}

.btn{
    margin-left: 80%;
    margin-top: -50%;
    padding: 0px 7px;
}

.checkout-btn{
    background-color: #41e291;
    color: white;
    padding: 14px ;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 30%;
    margin-left: 10px;
    border-radius: 6px;
}
.cart-total{
margin-bottom: 10%;
color: white;
margin-left: 10px;
font-weight: bold;

}


